.wrapper {
  display: flex;
  justify-content: center;
  gap: 72px;
  color: var(--main-black);
  padding: 84px 120px 104px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img {
  border-radius: 19px;
}
