.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.itemWrapper {
  width: 276px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imageWrapper {
  position: relative;
  width: fit-content;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
  height: 276px;
  margin-bottom: 16px;
}

.name {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.wrapperName {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  color: #000;
  margin-bottom: 8px;
  padding-right: 11px;
}

.span {
  margin-left: 4px;
  color: var(--main-button);
}

.wrapperInfo {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;
  white-space: nowrap;
  color: var(--main-grey);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
}

.wrapperInfo:not(:last-child) {
  margin-bottom: 4px;
}

.divider {
  stroke-width: 1px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
}

@media (max-width: 1100px) {
  .itemWrapper {
    width: 250px;
  }

  .img {
    height: auto;
  }

  .wrapperName {
    font-size: 12px;
    margin-bottom: 6px;
    padding-right: 7px;
  }

  .wrapperInfo {
    font-size: 10px;
    margin-bottom: 2px;
  }

  .wrapper {
    gap: 12px;
  }
}

@media (max-width: 650px) {
  .wrapperName {
    font-size: 10px;
    margin-bottom: 5px;
    padding-right: 4px;
  }

  .wrapperInfo {
    font-size: 8px;
  }

  .wrapper {
    gap: 8px;
  }

  .btn {
    height: 36px;
    font-size: 14px;
  }
}

@media (max-width: 430px) {
}
