.form {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  justify-content: center;
  margin-bottom: 56px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.selectWrapper {
  min-width: 202px;
}

.input {
  display: flex;
  align-items: center;
  background-color: var(--main-inputs);
  border-radius: 12px;
  margin-bottom: 0;
}

.input::placeholder {
  line-height: 1.25;
  color: var(--main-black);
}

.btn {
  width: 156px;
  height: 44px;
}

.rangeInputGroup {
  display: flex;
  align-items: stretch;
  background-color: #f7f7f7;
  border-radius: 12px;
  height: 44px;
  width: 320px;
}

.inputWrapper {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.rangeInput {
  width: 100%;
  border: none;
  font-family: var(--font-manrope);
  background: transparent;
  outline: none;
  color: var(--main-black);
  padding-left: 65px;
  padding-right: 10px;
}

.rangeInput::-webkit-outer-spin-button,
.rangeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeInput[type="number"] {
  -moz-appearance: textfield;
}

.inputWrapper:last-of-type .rangeInput {
  padding-left: 45px;
}
.separator {
  width: 1px;
  background-color: #8d929a;
  align-self: stretch;
  opacity: 0.4;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputLabel {
  position: absolute;
  left: 20px;
  color: var(--main-black);
  pointer-events: none;
  font-family: var(--font-manrope);
}

@media (max-width: 1200px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .selectWrapper {
    min-width: 320px;
  }
}

@media (max-width: 480px) {
  .selectWrapper {
    min-width: 270px;
  }

  .rangeInputGroup {
    width: 270px;
  }

  .btn {
    font-size: 14px;
    width: 156px;
    height: 36px;
  }
}
