.header {
  height: 68px;
  background-color: var(--main-badges);
  width: 100%;
  border-bottom: 1px solid var(--main-white);
  padding: 24px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-family: var(--font-family);
  line-height: 1.25;
  text-align: center;
  color: var(--main-black);
  display: inline-block;
}

.active {
  color: var(--main-button-hover);
}

@media (max-width: 900px) {
  .header {
    padding: 24px 50px;
  }
  .nav {
    gap: 20px;
  }
}

@media (max-width: 490px) {
  .header {
    padding: 24px 30px;
  }
  .nav {
    gap: 15px;
  }
}
