:root {
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --main-font: var(--font-inter);
  --accent-font: var(--font-manrope);

  --main-black: #101828;
  --main-grey: #8d929a;
  --main-button: #3470ff;
  --main-button-hover: #0b44cd;
  --main-gray-light: #dadde1;
  --main-badges: #f2f4f7;
  --main-inputs: #f7f7f7;
  --main-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

body {
  height: 100%;
  background-color: var(--main-white);
  font-family: var(--main-font);
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: var(--main-white);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  background-color: var(--main-button);
  cursor: pointer;
  color: var(--main-white);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover,
button:focus {
  background-color: var(--main-button-hover);
}
